html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #002e3a;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

/* --- Common Styles ---*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Proxima Nova', Georgia, sans-serif;
  font-size: 16px;
}

h1 {
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
}
h2{
  font-size: 32px;
  font-weight: 400;
	line-height: 36px;
}
h3{
  font-size: 28px;
  font-weight: 400;
	line-height: 30px;
}
h4{
  font-size: 20px;
  font-weight: 400;
}
h5{
  font-size: 18px;
  font-weight: 400;
}
h6{
  font-size: 16px;
  font-weight: 400;
}

p {
	margin-top: 15px;
	margin-bottom: 15px;
}

ol, ul {
	list-style: none;
}

a{
	color: #00b9eb;
}
a:hover{
  color: #002e3a;
	text-transform: none;
	text-decoration: none;
}

strong{
	font-weight: 700;
}

/*----- Helper Classes -----*/

html * {
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-primary{
	border-radius: 0 !important;
	background-color: #00b9eb !important;
	border-color: #00b9eb !important;
}
.btn-primary:hover{
	background-color: #002e3a !important;
	border-color: #002e3a !important;
}

.btn-yellow{
	background-color: #e1cd57 !important;
	border-color: #e1cd57 !important;
}
.btn-yellow:hover{
	background-color: #00b9eb !important;
	border-color: #00b9eb !important;
}

.text-white{
  color: #fff !important;
}
.text-blue{
	color: #00b9eb !important;
}
.text-blue2{
	color: #00a6ad !important;
}
.text-dark-blue{
	color: #002e3a !important;
}

.orange-border-bottom{
	border-bottom: 2px solid  #f99300;
}
.blue-border-bottom{
	border-bottom: 2px solid #00b9eb;
}
.pink-border-bottom{
	border-bottom: 2px solid #ddaac5;
}
.yellow-border-bottom{
	border-bottom: 2px solid #e1cd57;
}
.bg-white{
	background-color: #fff !important;
}
.bg-light{
	background-color: #f2f2f2 !important;
}

.blue-overlay-img,
.blue2-overlay-img,
.yellow-overlay-img,
.orange-overlay-img,
.gradient1-overlay-img,
.gradient2-overlay-img,
.gradient3-overlay-img,
.gradient4-overlay-img,
.gradient5-overlay-img
 {
	position:relative;
	display:inline-block;
}
.blue-overlay-img:before,
.blue2-overlay-img:before,
.yellow-overlay-img:before,
.orange-overlay-img:before,
.gradient1-overlay-img:before,
.gradient2-overlay-img:before,
.gradient3-overlay-img:before,
.gradient4-overlay-img:before,
.gradient5-overlay-img:before {
	content: ' ';
	display: block;
	position:absolute;
	width:100%;
	height:100%;
	pointer-events: none;
}
.blue-overlay-img img,
.blue2-overlay-img img,
.yellow-overlay-img img,
.orange-overlay-img img{
	mix-blend-mode: multiply;
}
.gradient1-overlay-img img,
.gradient2-overlay-img img,
.gradient3-overlay-img img,
.gradient4-overlay-img img,
.gradient5-overlay-img img{
	mix-blend-mode: soft-light;
}

.blue-overlay-img:before{
	background: rgba(0, 176, 206, 1); /* rgb Color with alpha, you can also give it a bg color and set opacity: down. */
}
.blue2-overlay-img:before{
	background: rgba(0, 46, 58, 1);
}
.yellow-overlay-img:before {
	background: rgba(226, 192, 1, 1);
}
.orange-overlay-img:before {
	background: rgba(234, 140, 28, 1);
}
.gradient1-overlay-img:before{
	background-image: linear-gradient(rgba(0, 46, 58, .8), rgba(0, 176, 206, .8));
}
.gradient2-overlay-img:before{
	background-image: linear-gradient(rgba(199, 98, 153, .8), rgba(0, 176, 206, .8));
}
.gradient3-overlay-img:before{
	background-image: linear-gradient(rgba(246, 147, 31, .8), rgba(0, 176, 206, .8));
}
.gradient4-overlay-img:before{
	background-image: linear-gradient(rgba(0, 160, 153, .8), rgba(0, 176, 206, .8));
}
.gradient5-overlay-img:before{
	background-image: linear-gradient(rgba(224, 208, 88, .8), rgba(0, 176, 206, .8));
}

.absolute-center{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.absolute-top{
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
}
.absolute-bottom{
	position: absolute;
	bottom: 15%;
	left: 0;
	width: 100%;
}
.quote-1{
	font-size: 24px;
}
.quote-2{
	font-size: 18px;
}
.column-2{
	column-count: 2;
}
.form-control{
	border: 0;
	border-radius: 0px !important;
}

body{
	position: relative;
}

/*----- Header Styles -----*/
.fixed-header{
	position: fixed;
	top: 0;
  left: 0;
}
.header-bg{
	width: 100%;
  height: 800px;
	position: absolute;
	top: 0;
	z-index: -1;
}
	.header-bg img{
		width: 100%;
		height: 800px;
		object-fit: cover;
	}
#header, #header-2{
	z-index: 999;
}
#top-nav,
#top-nav-2{
  border-bottom: 1px solid #00b9eb;
  padding: 5px 0;
}
#top-nav .top-nav-list,
#top-nav-2 .top-nav-list{
  text-align: right;
}
#top-nav .top-nav-list li,
#top-nav-2 .top-nav-list li{
  display: inline;
  padding-left: 10px;
}
#top-nav a,
#top-nav-2 a{
  font-size: 13px;
}
#top-nav li.active a,
#top-nav a:hover,
#top-nav-2 li.active a,
#top-nav-2 a:hover{
	color: #fff;
}
	select,
	.top-nav-btn{
		position: relative;
		display: inline-block;
		background: none;
		border: 0;
		font-size: 13px;
		padding-right: 15px;
		overflow: hidden;
		color: #00b9eb;
	}
	select:after,
	.top-nav-btn:after{
		position: absolute;
		bottom: 6;
		height: 10px;
		width: 10px;
		right: -5px;
		background: #00b9eb;
		content: "";
		z-index: 1000;
		transform: skew(-45deg);
	}
	.dropdown-menu{
		border-radius: 0px;
	}
#main-nav nav ul li,
#main-nav-2 nav ul li{
  padding: 0 5px;
}
#main-nav nav ul li a,
#main-nav-2 nav ul li a{
  color: #fff;
  font-weight: 300;
}

	.orange-link,
	.orange-link.active,
	.orange-link.active a,
	.orange-link:hover,
	.orange-link a:hover{
		color: rgba(234, 140, 28, 1) !important;
	}
	.blue-link.active,
	.blue-link .active a,
	.blue-link:hover,
	.blue-link a:hover{
		color: rgba(0, 176, 206, 1) !important;
	}
	.pink-link.active,
	.pink-link.active a,
	.pink-link:hover,
	.pink-link a:hover{
		color: rgba(199, 98, 153, 1) !important;
	}
	.yellow-link.active,
	.yellow-link.active a,
	.yellow-link:hover,
	.yellow-link a:hover{
		color: #e1cd57 !important;
	}

#main-nav nav ul li.active a,
#main-nav-2 nav ul li.active a{
	color: #00b9eb;
}
#header #header-logo{
  padding: 50px 0;
}
#header #header-logo a{
  display: block;
  text-align: center;
}
#header #header-logo a img{
  height: 80px;
  width: auto;
}
#header-mobile-logo,
#header-mobile-logo-2{
	display: none;
}
#header-mobile-logo .navbar-toggler,
#header-mobile-logo-2 .navbar-toggler{
	border: 2px solid #00b9eb;
	border-radius: 100px;
}

#header-2{
	background-image: linear-gradient(to bottom, rgba(0,0,0,.9) 80px, rgba(0,0,0,0));
	padding-bottom: 50px !important;
}
#header-2 .navbar{
	padding: 10px 0;
}
#header-2 #main-nav nav ul li,
#header-2 #main-nav-2 nav ul li{
	padding: 0 0 0 15px;
}
#header-2 #main-nav nav ul li a,
#header-2 #main-nav-2 nav ul li a{
	padding: 0;
}

/*----- Content Styles -----*/
#content.home-content{
  position: relative;
}

.page-title{
	padding: 40px 0;
}
.page-title h1{
	font-weight: 300;
}

#featured-news .container{
  background-color: #f2f2f2 !important;
  position: relative;
}
	.news-row .news-col,
	.press-row .press-col{
		padding: 15px;
	}
	/* .news-row .news-col:nth-child(1){
		padding-right: 0;
	}
	.news-row .news-col:nth-child(3){
		padding-left: 0;
	} */
	.news-item .news-header h4,
	.press-item .press-header h4,
	.social-item .social-header h4{
		margin: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 24px;
		height: 48px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.news-item .news-header .news-cat-auth,
	.press-item .press-header .press-cat-auth,
	.social-item .social-header .social-visit{
		padding: 0 10px 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		height: 30px;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.news-item .news-header .news-cat-auth span,
	.press-item .press-header .press-cat-auth span,
	.social-item .social-header .social-visit a{
		font-size: 14px;
	}
	.news-item .news-header .news-excerpt p,
	.press-item .press-header .press-excerpt p{
		margin: 10px;
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 18px;
		max-height: 36px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.press-item .press-logo{
		background-color: #f2f2f2;
		height: 200px;
		position: relative;
	}
	.press-item .press-logo img{
		max-height: 100%;
	  max-width: 100%;
	  width: auto;
	  height: auto;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	}
	.news-item .news-img img{
		height: 150px;
		width: 100%;
		object-fit: cover;
	}
#featured-news .news-item .news-img img{
	height: 250px;
}
#recent-news .news-item .news-img img{
	height: 250px;
}

.user-details .u-avatar img{
	width: 160px;
	height: 160px;
	border: double 5px transparent;
	border-radius: 80px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(0, 160, 153, 1), rgba(0, 176, 206, 1));
	background-origin: border-box;
	background-clip: content-box, border-box;
	margin-bottom: 10px;
}
.mobile-only .user-details .u-avatar img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.studies-detail .container{
	padding: 15px;
}

.post-header h1{
	margin-bottom: 15px;
}
.post-share{
	display: block;
	text-align: right;
}
.post-share span,
.post-share ul.social-share,
.post-share ul.social-share li{
	display: inline-block;
	margin-left: 5px;
}

.post-details ul{
	padding-left: 15px;
}
.post-details ul li{
	padding-bottom: 10px;
}
.post-details ul.list-dash li:before{
	content: "-";
	padding-right: 10px;
}

ul.comment-child li.comment-item{
	padding-left: 30px;
	border-left: 2px solid #f5c288;
}

#connect-with-us .connect-wrap{
	overflow: hidden;
	position: relative;
}
#connect-with-us .connect-wrap .subscribe-bg{
	z-index: -1;
}
.social-item .social-icon{
	width: 100px;
	height: 100px;
	border: double 3px transparent;
	border-radius: 80px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(0, 160, 153, 1), rgba(0, 176, 206, 1));
	background-origin: border-box;
	background-clip: content-box, border-box;
	margin: 0 auto 10px;
}
.social-item .social-icon i{
	font-size: 48px;
	padding-top: 23px;
}

.orange-angle-select,
.orange-right-input  {
	display: block;
	vertical-align:middle;
	position:relative;
}
.orange-angle-select select,
.orange-right-input select {
	line-height:normal;
	height:38px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	width:200px;
	border-radius:6px;
	display:block;
	width:100%;
	border:1px solid #c8c8c8;
	background:#fff url(images/inpbg.png) repeat-x 0 0;
	color:#9f9f9f;
	padding:8px 20px 7px 10px;
	margin:0;
	line-height:normal;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.ie8 .orange-angle-select select,
.ie8 .orange-right-input select{padding-right:3px}
.orange-angle-select select:focus,
.orange-right-input select:focus {
	background:#f9f9f9;
	outline:none;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 7px rgba(100,100,100,0.3);
	border-color:#00c0f3;
}
.orange-angle-select ::-ms-expand,
.orange-right-input ::-ms-expand {
 display:none;
}
.orange-angle-select:after,
.orange-right-input:after{
	content:"";
	position:absolute;
	z-index:2;
	right:8px;
	bottom:20%;
	margin-top:-3px;
	height:0;
	width:0;
	pointer-events:none;
}
.orange-angle-select:after{
	border-top:0px solid #f99300;
	border-bottom:16px solid #f99300;
	border-left:16px solid transparent;
}
.orange-right-input:after{
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #f99300;
}

#footer{
	position: relative;
}
#footer .footer-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#footer .footer-bg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer-top{
	padding: 30px 10px;
}
.footer-social .footer-social-icon i{
	font-size: 36px;
}
.footer-social .footer-social-icon p{
	font-size: 14px;
	line-height: 18px;
	color: #fff;
}
.footer-social .footer-social-icon p a{
	color: #00b9eb;
}
.footer-bottom{
	background-image: linear-gradient(to right, #00a6ad, #00b9eb);
}
.footer-bottom .footer-copy p{
	margin: 0;
	padding: 10px;
	font-size: 14px;
}

.fixed-social{
	position: fixed;
	top: 40%;
	left: 0;
}
.fixed-social ul li,
ul.social-share li{
	padding: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.fixed-social ul li.linkedin, ul.social-share li.linkedin{ background-color: #1384c7; }
.fixed-social ul li.twitter, ul.social-share li.twitter{ background-color: #78cbef; }
.fixed-social ul li.facebook, ul.social-share li.facebook{ background-color: #547bbc; }
.fixed-social ul li a,
ul.social-share li a{
	color: #fff;
}
.fixed-chat{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px !important;
	height: 60px !important;
	border: 3px solid #fff;
	border-radius: 60px;
	text-align: center;
	padding-top: 15px;
	background: linear-gradient(to left,  #002e3a, #00b9eb);
}
.fixed-chat a{
	color: #fff;
	font-size: 24px;
}

/** Media Queries **/

@media(min-width:992px){
	#navbarNav,
	#navbarNav-2{
		display: block;
	}
}
@media(max-width:991px){
	#top-nav,
	#top-nav-2{
		display: none;
	}
	#header-logo,
	#header-logo-2{
		display: none;
	}
	#header-mobile-logo,
	#header-mobile-logo-2{
		display: block;
	}
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img,
	#header-mobile-logo-2 .mobile-logo-icon img,
	#header-mobile-logo-2 .mobile-logo-text img{
		height: 70px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler,
	#header-mobile-logo-2 .navbar-toggler{
		width: 70px;
		height: 70px;
	}
	#header-mobile-logo .navbar-toggler i,
	#header-mobile-logo-2 .navbar-toggler i{
		font-size: 30px;
	}
	#main-nav,
	#main-nav-2{
		background-color: rgba(0, 46, 58, 1);
		margin-top: 10px;
	}
	#main-nav .navbar li a,
	#main-nav-2 .navbar li a{
		text-align: center;
	}
	#header-2 #main-nav nav ul li,
	#header-2 #main-nav-2 nav ul li{
		padding: 0 5px;
	}
	#header-2 #main-nav nav ul li a,
	#header-2 #main-nav-2 nav ul li a{
		padding: .5rem 1rem;
	}
}
@media(min-width: 768px){
	.mobile-only{
		display: none;
	}
}
@media(max-width:767px){
	.hide-mobile{
		display: none;
	}
	.mobile-only{
		display: block;
	}
	.column-2{
		column-count: 1;
	}
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img,
	#header-mobile-logo-2 .mobile-logo-icon img,
	#header-mobile-logo-2 .mobile-logo-text img{
		height: 55px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler,
	#header-mobile-logo-2 .navbar-toggler{
		width: 55px;
		height: 55px;
		padding: 12px 0;
	}
	#header-mobile-logo .navbar-toggler i,
	#header-mobile-logo-2 .navbar-toggler i{
		font-size: 24px;
	}
	/* .news-row .news-col:nth-child(1){
		padding-right: 20px;
	}
	.news-row .news-col:nth-child(3){
		padding-left: 20px;
	} */
	.news-item .news-img img{
		height: 280px;
	}
	.ads-container{
		display: none;
	}

}
@media(max-width:575px){
	.news-item .news-img img{
		height: 250px !important;
		object-position: top;
	}
}
@media(max-width:520px){
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img,
	#header-mobile-logo-2 .mobile-logo-icon img,
	#header-mobile-logo-2 .mobile-logo-text img{
		height: 45px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler,
	#header-mobile-logo-2 .navbar-toggler{
		width: 45px;
		height: 45px;
		padding: 10px 0;
	}
	#header-mobile-logo .navbar-toggler i,
	#header-mobile-logo-2 .navbar-toggler i{
		font-size: 18px;
	}
}
@media(max-width:399px){
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img,
	#header-mobile-logo-2 .mobile-logo-icon img,
	#header-mobile-logo-2 .mobile-logo-text img{
		height: 35px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler,
	#header-mobile-logo-2 .navbar-toggler{
		width: 35px;
		height: 35px;
		padding: 5px 0;
	}
	#header-mobile-logo .navbar-toggler i,
	#header-mobile-logo-2 .navbar-toggler i{
		font-size: 18px;
	}
}
