html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #002e3a;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

/* --- Common Styles ---*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Proxima Nova', Georgia, sans-serif;
  font-size: 16px;
}

h1 {
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
}
h2{
  font-size: 32px;
  font-weight: 400;
	line-height: 36px;
}
h3{
  font-size: 28px;
  font-weight: 400;
	line-height: 30px;
}
h4{
  font-size: 20px;
  font-weight: 400;
}
h5{
  font-size: 18px;
  font-weight: 400;
}
h6{
  font-size: 16px;
  font-weight: 400;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

ol, ul {
	list-style: none;
}

a{
	color: #00b9eb;
}
a:hover{
  color: #002e3a;
	text-transform: none;
	text-decoration: none;
}

strong{
	font-weight: 700;
}

/*----- Helper Classes -----*/

html * {
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-primary{
	border-radius: 0 !important;
	background-color: #00b9eb !important;
	border-color: #00b9eb !important;
}
.btn-primary:hover{
	background-color: #002e3a !important;
	border-color: #002e3a !important;
}

.text-white{
  color: #fff !important;
}
.text-blue{
	color: #00b9eb !important;
}
.text-dark-blue{
	color: #002e3a !important;
}

.orange-border-bottom{
	border-bottom: 2px solid #f5c288;
}
.green-border-bottom{
	border-bottom: 2px solid #00b9eb;
}
.pink-border-bottom{
	border-bottom: 2px solid #ddaac5;
}

.blue-overlay-img,
.blue2-overlay-img,
.yellow-overlay-img,
.orange-overlay-img,
.gradient1-overlay-img,
.gradient2-overlay-img
 {
	position:relative;
	display:inline-block;
}
.blue-overlay-img:before,
.blue2-overlay-img:before,
.yellow-overlay-img:before,
.orange-overlay-img:before,
.gradient1-overlay-img:before,
.gradient2-overlay-img:before {
	content: ' ';
	display: block;
	position:absolute;
	width:100%;
	height:100%;
	pointer-events: none;
}
.blue-overlay-img img,
.blue2-overlay-img img,
.yellow-overlay-img img,
.orange-overlay-img img{
	mix-blend-mode: multiply;
}
.gradient1-overlay-img img,
.gradient2-overlay-img img{
	mix-blend-mode: soft-light;
}

.blue-overlay-img:before{
	background: rgba(0, 176, 206, 1); /* rgb Color with alpha, you can also give it a bg color and set opacity: down. */
}
.blue2-overlay-img:before{
	background: rgba(0, 46, 58, 1);
}
.yellow-overlay-img:before {
	background: rgba(226, 192, 1, 1);
}
.orange-overlay-img:before {
	background: rgba(234, 140, 28, 1);
}
.gradient1-overlay-img:before{
	background-image: linear-gradient(rgba(0, 46, 58, .8), rgba(0, 176, 206, .8));
}
.gradient2-overlay-img:before{
	background-image: linear-gradient(rgba(199, 98, 153, .8), rgba(0, 176, 206, .8));
}
.absolute-center{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.absolute-top{
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
}
.absolute-bottom{
	position: absolute;
	bottom: 15%;
	left: 0;
	width: 100%;
}

.form-control{
	border: 0;
	border-radius: 0px !important;
}

/*----- Header Styles -----*/
#header .header-bg,
#header-2 .header-bg{
	width: 100%;
  height: 800px;
	position: absolute;
	z-index: -1;
}
	.header-bg img{
		width: 100%;
		height: 800px;
		object-fit: cover;
	}
#top-nav{
  border-bottom: 1px solid #00b9eb;
  padding: 5px 0;
}
#top-nav .top-nav-list{
  text-align: right;
}
#top-nav .top-nav-list li{
  display: inline;
  padding-left: 10px;
}
#top-nav a{
  font-size: 13px;
}
#top-nav a:hover{
	color: #00b9eb;
}
#main-nav nav ul li{
  padding: 0 5px;
}
#main-nav nav ul li a{
  color: #fff;
  font-weight: 300;
}

	.orange-link.active,
	.orange-link.active a,
	.orange-link:hover,
	.orange-link a:hover{
		color: rgba(234, 140, 28, 1) !important;
	}
	.blue-link.active,
	.blue-link .active a,
	.blue-link:hover,
	.blue-link a:hover{
		color: rgba(0, 176, 206, 1) !important;
	}
	.pink-link.active,
	.pink-link.active a,
	.pink-link:hover,
	.pink-link a:hover{
		color: rgba(199, 98, 153, 1) !important;
	}

#main-nav nav ul li.active a{
	color: #00b9eb;
}
#header #header-logo{
  padding: 50px 0;
}
#header #header-logo a{
  display: block;
  text-align: center;
}
#header #header-logo a img{
  height: 80px;
  width: auto;
}
#header-mobile-logo{
	display: none;
}
#header-mobile-logo .navbar-toggler{
	border: 2px solid #00b9eb;
	border-radius: 100px;
}

#header-2{
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	padding-bottom: 80px !important;
}
#header-2 .navbar{
	padding: 10px 0;
}
#header-2 #main-nav nav ul li{
	padding: 0 0 0 15px;
}
#header-2 #main-nav nav ul li a{
	padding: 0;
}

/*----- Content Styles -----*/
#content.home-content{
  position: relative;
}

.page-title{
	padding: 40px 0;
}
.page-title h1{
	font-weight: 300;
}

#featured-news .container{
  background-color: #f2f2f2 !important;
  position: relative;
}
	.news-row .news-col{
		padding: 15px;
	}
	/* .news-row .news-col:nth-child(1){
		padding-right: 0;
	}
	.news-row .news-col:nth-child(3){
		padding-left: 0;
	} */
	.news-item .news-header h4{
		margin: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 24px;
		height: 48px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.news-item .news-header .news-cat-auth{
		padding: 0 10px 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		height: 30px;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.news-item .news-header .news-cat-auth span{
		font-size: 14px;
	}
	.news-item .news-header .news-excerpt p{
		margin: 10px;
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 18px;
		max-height: 36px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.news-item .news-img img{
		height: 150px;
		width: 100%;
		object-fit: cover;
	}
#featured-news .news-item .news-img img{
	height: 250px;
}
#recent-news .news-item .news-img img{
	height: 200px;
}

@media(min-width:992px){
	#navbarNav{
		display: block;
	}
}
@media(max-width:991px){
	#top-nav{
		display: none;
	}
	#header-logo{
		display: none;
	}
	#header-mobile-logo{
		display: block;
	}
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img{
		height: 70px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler{
		width: 70px;
		height: 70px;
	}
	#header-mobile-logo .navbar-toggler i{
		font-size: 30px;
	}
	#main-nav{
		background-color: rgba(0, 46, 58, 1);
		margin-top: 10px;
	}
	#main-nav .navbar li a{
		text-align: center;
	}
	#header-2 #main-nav nav ul li{
		padding: 0 5px;
	}
	#header-2 #main-nav nav ul li a{
		padding: .5rem 1rem;
	}
}
@media(max-width:767px){
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img{
		height: 55px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler{
		width: 55px;
		height: 55px;
		padding: 12px 0;
	}
	#header-mobile-logo .navbar-toggler i{
		font-size: 24px;
	}
	/* .news-row .news-col:nth-child(1){
		padding-right: 20px;
	}
	.news-row .news-col:nth-child(3){
		padding-left: 20px;
	} */
	.ads-container{
		display: none;
	}
}
@media(max-width:575px){
	.news-item .news-img img{
		height: 250px !important;
		object-position: top;
	}
}
@media(max-width:520px){
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img{
		height: 45px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler{
		width: 45px;
		height: 45px;
		padding: 10px 0;
	}
	#header-mobile-logo .navbar-toggler i{
		font-size: 18px;
	}
}
@media(max-width:399px){
	#header-mobile-logo .mobile-logo-icon img,
	#header-mobile-logo .mobile-logo-text img{
		height: 35px;
		width: auto;
	}
	#header-mobile-logo .navbar-toggler{
		width: 35px;
		height: 35px;
		padding: 5px 0;
	}
	#header-mobile-logo .navbar-toggler i{
		font-size: 18px;
	}
}

#footer{
	position: relative;
}
#footer .footer-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#footer .footer-bg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer-top{
	padding: 30px 10px;
}
.footer-social .footer-social-icon i{
	font-size: 36px;
}
.footer-social .footer-social-icon p{
	font-size: 14px;
	line-height: 18px;
	color: #fff;
}
.footer-social .footer-social-icon p a{
	color: #00b9eb;
}
.footer-bottom{
	background-image: linear-gradient(to right, #00a6ad, #00b9eb);
}
.footer-bottom .footer-copy p{
	margin: 0;
	padding: 10px;
	font-size: 14px;
}

.fixed-social{
	position: fixed;
	top: 40%;
	left: 0;
}
.fixed-social ul li{
	padding: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.fixed-social ul li.linkedin{ background-color: #1384c7; }
.fixed-social ul li.twitter{ background-color: #78cbef; }
.fixed-social ul li.facebook{ background-color: #547bbc; }
.fixed-social ul li a{
	color: #fff;
}
.fixed-chat{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px !important;
	height: 60px !important;
	border: 3px solid #fff;
	border-radius: 60px;
	text-align: center;
	padding-top: 15px;
	background: linear-gradient(to left,  #002e3a, #00b9eb);
}
.fixed-chat a{
	color: #fff;
	font-size: 24px;
}
