/* ----------------------------------------------------
	You can put your custom css code here:
-------------------------------------------------------*/
.search h3 a, .search a{
  color: #2395ec !important;
}
#sticky-header .logo,
#sticky-header nav#primary-menu{
  display: inline-block;
}
.header-search .search-form input[type="text"]{
  border: 1px solid #ccc;
  border-right: 0;
  height: 45px;
  box-shadow: none;
}
